@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark-channel: 47 77% 12%; /* previous-value: #073.626 */
  --primary-medium-channel: 47 69% 25%; /* previous-value: #146.94d */
  --primary-light-channel: 47 50% 30%; /* previous-value: #497.326 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
